<%= form_with model: @photo do |form| %>

    <div>
    <%= form.check_box_tag "tag_ids[]", name: "photo[tag_ids][]" %>
  </div>

  <div>
  <%= form.label :title %>
  <%= formf.text_field :title %>
  </div>

  <div>
  <%= form.label :image_url %>
  <%= formf.url_field :image_url %>
  </div>

  <%= formf.submit "Submit" %>
  
<% end %>
  